#title{
    width: 25%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    margin-top: 60px;
}
#date{
    font-size: 30px;
    position: relative;
}
#date>span{
    position: absolute;
    right: 20px;
}
#arrow{
    position: relative;
}
#arrow>span{
    position: absolute;
    right: 20px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 30px;
    font-weight: 600;
}