body {
    margin: 0px;
}

#container {
    width: 100%;
    height: 500px;
    background-image: url("Images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    background-color: burlywood;
    line-height: 50px;
    text-align: center;
}

#navbar a {
    margin: 20px;
}

a:active{
    color:white
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    background-color: rgb(153, 123, 84);
    color: white;
    outline: none;
}

::placeholder {
    color: white;
}


#receipeoftheday {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 60px;
   
}

#receipeoftheday div {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
}

#receipeoftheday img {
    width: 50%;
    margin: 20px;
    box-shadow: 7px 7px rgba(102, 76, 6, 0.438);
}

h2 {
    color: rgb(29, 22, 17);
    text-align: center;
}

hr {
    background-color: blueviolet;
    height: 2px;
}