*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(13, 206, 206);
    scroll-behavior: smooth;
}
.container{
    padding-top: 40px;
}

.container__heading{
    text-align: center;
    position: relative;
}

.container__img{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: transparent;
}

.box_div {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 80vw;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 400;
    margin-bottom: 40px;
}
.box_div--title{
    background-color: white;
    margin-bottom: 10px;
}
.box_div--number{
    display: inline-block;
    background-color: rgb(13, 206, 206);
    padding: 10px;
    color: white;
    font-weight: 700;
    margin:10px 0px;
    border-radius: 2px;
}