<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div>
            <h2>Send Message to Single</h2>
            <form action="/single" method="POST">

                <p><label for="">First Name</label></p>
                <input type="text" name="first_name" />
                <p><label for="">Last Name</label></p>
                <input type="text" name="last_name" />
                <p><label for="">Email</label></p>
                <input type="email" name="email" />
                <br>
                <input type="submit">
            </form>
        </div>
    
</body>

</html>